.vertical-grid-line,
.horizontal-grid-line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #EBEBEB;
  stroke-width: 1;
}

.line-chart .variable .line {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; 
  fill: none;
}

.line-chart .variable .line, .line-chart .variable .area {
  transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.tick text {
  fill: #aaa;
  font-size: 0.75rem;
  font-family: "Raleway","Roboto", "Helvetica", "Arial", sans-serif;
}
.tick line {
  fill: none;
  stroke: #EBEBEB;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.data-point-mark {
  fill: #FFF;
  pointer-events: visibleFill;
  transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  stroke-width: 2;
}

.data-point-mark:hover {
  stroke-width: 3;
  r: 6;
}

.legend .serie {
  cursor: pointer;
}

.legend rect {
  stroke-width: 1.5;
}

.legend .disabled rect {
  fill-opacity: 0
}

.legend .serie text {
  fill: #2b2a2a;
  font-weight: 500;
  font-size: 12px;
  font-family: "Raleway","Roboto", "Helvetica", "Arial", sans-serif;
}

.line-chart .masking-rectangle {
  fill: #FFF; 
}

.vertical-marker-container .vertical-marker {
  stroke: #A0A1A2;
  stroke-width: 1;
}

.vertical-marker-container .data-point-highlighter {
  fill: #FFF;
}